/* Ensure that the body has a smooth background transition */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #77a1d3, #79cbca, #e684ae);
    background-size: 600% 600%;
    animation: gradientBackground 20s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: #fff;
    text-align: center;
}

h2 {
    color: #000000;
}

.button-container {
    display: flex;
    gap: 20px;
}

.button, input[type="submit"] {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #2F71E4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.button:hover, input[type="submit"]:hover {
    background-color: #1d4996;
}

/* Apply a fixed width and height to the form and smooth transitions */
form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 800px;
    /*transition: all 0.3s ease;*/
}

.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-section {
    flex: 1;
    margin: 0 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], input[type="color"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    resize: none; /* Don't allow the user to resize the textarea */
}

textarea {
    height: 35.5%; /* Let the textarea fit the content */
}

.response-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 600px;
    margin: 20px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

/* Specific styles for the color picker */
input[type="color"] {
    width: 106%;
    appearance: none;
    -webkit-appearance: none;
    height: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    background: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}

/* Optional: adding hover effect to the color picker */
input[type="color"]:hover {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Table styles */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: none; /* Initially hide the table */
}

.styled-table thead tr {
    background-color: #2F71E4;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

