/* Smooth background transition with animated gradient */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #77a1d3, #79cbca, #e684ae);
    background-size: 600% 600%;
    animation: gradientBackground 20s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1, h2 {
    color: #fff;
    text-align: center;
}

h2 {
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Form styles */
form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* General Input Styles */
input[type="text"], input[type="color"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus, input[type="color"]:focus, select:focus, textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.4);
    outline: none;
}

input[type="text"]::placeholder, textarea::placeholder {
    color: #999;
    font-style: italic;
}

/* Specific Input Styles */
textarea {
    height: 35.5%;
    resize: none;
}

input[type="color"] {
    width: 100%;
    max-width: 100px; /* Adjust the width as needed */
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0;
    background: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}

input[type="color"]:hover {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Button Styles */
.button, input[type="submit"], .small-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #2F71E4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.button:hover, input[type="submit"]:hover, .small-button:hover {
    background-color: #1d4996;
}

.small-button {
    padding: 5px 15px;
    font-size: 11px;
}

.edit-button {
    background-color: #fbb730;
}

.edit-button:hover {
    background-color: #9d721e;
}

.delete-button {
    background-color: #e11919;
}

.delete-button:hover {
    background-color: #901111;
}

/* Form Group Styles */
.form-group {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group select, .form-group input[type="text"] {
    max-width: 300px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Space between the sections */
    width: 100%;
}

.form-section {
    flex: 1; /* Makes sections flexible and distribute evenly */
    min-width: 45%; /* Ensures that each section takes at least 45% of the container width */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}
/* Button Container */
.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Table Styles */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: none;
}

.styled-table thead tr {
    background-color: #2F71E4;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 2px solid #000;
}

.styled-table tbody tr.selected {
    background-color: #b2d6fa;
}

.styled-table tbody tr:not(.selected):hover {
    background-color: #f1f1f1;
}

/* Popup Box Styles */
.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s ease;
    display: none;
}

.popup.error {
    background-color: #f44336;
}

.popup.success {
    background-color: #4CAF50;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Loading Modal Styles */
.loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-content {
    text-align: center;
}

.loading-content img {
    width: 200px;
}

.loading-content p {
    color: #fff;
    font-size: 36px;
    margin-top: 10px;
}

/* Box Element */
.box {
    padding: 10px 20px;
    background-color: #3498db;
    margin: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.box:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}
